<%
require 'rubygems'
require 'httparty'
require 'pp'

feed = pp HTTParty.get('https://graph.facebook.com/156333031089012/feed')

%>

<%= feed
%>




<html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
         FB.init({
         appId:'178324205545374',
         cookie:true,
         status:true,
         xfbml:true
         });
      </script>
      <fb:login-button perms="manage_pages">Login with Facebook</fb:login-button>
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=178324205545374&amp;xfbml=1"></script><fb:comments numposts="10" width="425" publish_feed="true"></fb:comments>
    </body>
 </html>
